@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
:root {
    --color-one: #1a60ab;
    --color-two: rgb(0, 147, 144);
    --grey-color: rgb(27, 27, 27);
    --grey-color-t: rgb(27, 27, 27, 0.7);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.mainbg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin: 0;
    overflow: hidden;
    background-image: url("./Mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.mainbg h1 {
    text-transform: uppercase;
    font-family: "Noto Sans Mono";
    font-size: 8em;
    display: grid;
    place-items: center;
    width: fit-content;
    color: #ffffff;
    margin-top: 35vh;
    height: 30vh;
    font-weight: 600;
}

#blinker {
    display: grid;
    place-items: center;
    font-size: 8em;
    color: white;
    margin-top: 35vh;
    height: 30vh;
    width: 50px;
    font-family: "Noto Sans";
}

.center {
    display: flex;
    justify-content: center;
    height: 30vh;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 3.5vh;
    display: flex;
    transition: height .5s ease-in-out;
    background-color: rgb(27, 27, 27);
}

nav:hover {
    height: 10vh;
}

nav a {
    width: 20%;
    height: 100%;
    text-decoration: none;
    color: rgb(199, 199, 199);
    font-family: "Noto Sans Mono";
    font-size: 1.5em;
    display: grid;
    place-items: center;
    position: relative;
    top: 0;
    left: 0;
    /*border-left: 1px solid grey;*/
    border-right: 1px solid grey;
}

nav a:hover {
    color: #1a60ab;
    transition: .5s;
}

.simpleDesc {
    text-align: center;
    font-size: 2em;
    color: white;
    font-family: "Noto Sans";
    margin-top: 30vh;
}

.learnMore {
    font-family: "Noto Sans Mono";
    background-color: rgba(26, 96, 171, 0.701);
    color: aliceblue;
    display: block;
    width: 15%;
    margin: auto;
    padding: 0.25em;
    border-radius: 5px;
    text-align: center;
    margin-top: 4vh;
    font-size: 0.95em;
    opacity: 0;
    animation: fadeIn 1s linear 10s 1 forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mainTitle {
    font-family: "Noto Sans Mono";
    font-size: 4em;
    color: white;
    text-align: center;
    margin-top: 0;
}